body
{
    background-color: lightblue;
    margin: 0 0;
    padding: 0;
}

#familyGroup{

    margin-left: 27%;
    margin-right: auto;
    width: 66%;
    margin-top: 5%;
}
#familyGroup:after {
    content: ".";
    display: block;
    clear: both;
}

#imageList{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
}
#imageList:after {
    content: ".";
    display: block;
    clear: both;
}

.family
{
  text-align: center;
  border: 2px solid #000000;
  float: left;
  width: 34%;
  margin: 5px ;
  border-radius: 12px;
  background-color: antiquewhite;
}

#guitar, #violin, #banjo, #harp, #frenchhorn, #saxophone, #tuba, #trombone,
#xylophone, #drums, #maracas, #cymbals, #bagpipes, #flute, #clarinet, #trumpet
{
  width: 100%;
  height: inherit;
}

.imageBox
{
  text-align: center;
  border: 2px solid #000000;
  float: left;
  width: 100%;
  margin: 5px ;
  border-radius: 12px;
  background-color: antiquewhite;

}
.answerBoxes
{
  display: inline-block;
  text-align: center;
  width: 80%;
  border-radius: 5px;
}
 .instrumentBox
{
  float:left;
  /*width:40%;*/
  width: 130px;
  height:80px;
  margin:6px;
  /*padding:10px;*/
  border: 5px solid rgba(0, 0, 0, 0.3);
  /*border:1px solid #aaaaaa;*/
  border-radius: 5px;
}

.instrumentBoxScrambled
{
  text-align: center;
 float:left;
 width:130px;
 height:80px;
 margin:6px;
 /*padding:10px;*/
 border: 5px solid rgba(0, 0, 0, 0.3);
 /*border:1px solid #aaaaaa;*/
 border-radius: 5px;
}
